commands:
  01_create_directories:
    command: |
      mkdir -p /var/app/current/visualizations
      mkdir -p /var/app/current/visualizaciones
      mkdir -p /var/app/current/logos
      mkdir -p /var/app/current/cache
      chmod 755 /var/app/current/visualizations
      chmod 755 /var/app/current/visualizaciones
      chmod 755 /var/app/current/logos
      chmod 755 /var/app/current/cache 